[Desktop Entry]
Encoding=UTF-8
Name=Link to Another action
Type=Link
URL=file:///home/sofia/Documents/Dropbox/KTH%20Datateknik%20%C3%A5r%203/Interaktionsprogrammering%20och%20dynamiska%20webben/intprog/lab2/page2.html#
Icon=text-html
