[Desktop Entry]
Encoding=UTF-8
Name=Link to html - Set font-weight using Bootstrap classes - Stack Overflow
Type=Link
URL=https://www.google.se/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0ahUKEwjT45KM0f3RAhVJIJoKHaY7AWsQFggaMAA&url=http%3A%2F%2Fstackoverflow.com%2Fquestions%2F19093268%2Fset-font-weight-using-bootstrap-classes&usg=AFQjCNFQCTQ6xUgT-8VUEfWRrXtdWy3dRw&sig2=wGBXUM_zBRHHLy7mcatG9w&bvm=bv.146094739,d.bGs
Icon=text-html
